
  /* .button {
    text-align: center;
    width: 20%;
   margin-left:100px ;
  
    margin-bottom: 190px;
  } */
.plus {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: #04ff96;
    font-size: 50px;
    background-color: #1be68e;
    border: 0px;
    margin-left: 120px;
    position: absolute;    
  }
  
