
.DateTime{
   display: flex; 
   padding:0px 25px
}
.MonthYear{
    padding-top: 15px;
    font-size: 12px;

}
.DaysName{
    display: flex;
    flex-grow: 5;
    float: left;
    font-size: larger;
    padding-top: 2px;  
   justify-content: flex-end;
}